.clear-paddings {
  padding: 0;
}

#updaterSubmit {
  display: inline-block;
}

.flights-item {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 3px;
  justify-content: space-between;
}

.flights-item-text {
  font-weight: bold;
  padding-left: 5px;
}

#day-error {
  padding-left: 15px;
}

label.error {
  margin: 0px;
  margin-bottom: 2px;
}

.flights-container {
  overflow-y: auto;
  height: 250px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.off-margin-bottom {
  margin-bottom: 0 !important;
}

.col-no-right-border {
  padding-right: 0 !important;
}

.update-message {
  margin-right: 10px;
  font-weight: bold;
  font-size: 16px;
  display: none;
}

.update-submit {
  float: right;
}

[id='courses'] {
  margin-top: 10px;
  padding: 0;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.clear-borders {
  border: none;
  box-shadow: none;
}